@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.imagen-fondo {
  /* background-color: black; */
  background-image: url(wave.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}

main {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 768px) {
  .prueba {
    /* margin-top: 3rem; */
    margin-bottom: 3rem;
  }

  .imagen {
    margin-top: 2rem;
  }

  main {
    box-shadow: none;
    background: none;
    margin-top: 2px;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: none;
    border: none;
  }
}

.section {
  background: white;
  margin-top: 3rem;
}

/* .prueba {
  padding: 0px 60px 0px 0px;
} */

.iconos-nosotros {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.seccion {
  margin-top: 20px;
}

.imagen {
  height: 400px;
}

.icono {
  padding: 20px;
}

.icono-v {
  height: 100px;
  width: auto;
  margin-bottom: 1rem;
  filter: invert(21);
}

.icono h3 {
  margin-bottom: 10px;
}

.swiper {
  width: 1200px;
  height: 700px;
}

.swiper {
  width: 80%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: auto;
  height: 500px;
  object-fit: cover;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper img {
    width: 350px;
    border-radius: 4px;
  }
}

.nosotros {
  background-color: #b3e0ff;
}

.sobrenosotros {
  margin-top: 80px;
  padding-bottom: 60px;
}

.fondo {
  background-color: #b3e0ff;
}

.sobrenosotros h3 {
  font-weight: bold;
  font-size: 35px;
  color: white;
}

.fondo__nosotros {
  padding: 3px 0;
  padding-bottom: 50px;
  margin-top: 40px;
}

.h3 h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.sobrenosotros p {
  padding: 0 20px;
  color: gray;
}

h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 5px;
  color: gray;
}

.prueba p {
  padding-right: 80px;
  font-size: 20px;
  color: #848688;
}

.nosotros-p p {
  font-size: 20px;
  padding: 0;
}

.contacto {
  margin-top: 16px;
}

.contacto h3 {
  font-weight: bold;
  font-size: 35px;
}

textarea {
  resize: none;
}

input,
textarea {
  margin: 6px 0;
  width: 90%;
  padding: 12px 15px;
  border-radius: 4px;
  border: none;
  outline: none;
}

input,
textarea:active {
  border: none;
  outline: none;
}

textarea {
  height: 250px;
}

.contactanos {
  margin-top: 20px;
  padding: 15px 0;
  color: white;
  width: 40%;
  background-color: gray;
  opacity: 0.5;
  border-radius: 9px;
  margin-bottom: 15px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.typing-demo {
  width: 12ch;
  animation: typing 1s steps(15), blink 0.3s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3.4rem;
}

.typing-demo h3 {
  font-size: 50px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.contactanos {
  margin-top: 80px;
}

.btn-1 {
  width: 200px;
  height: 50px;
  border: none;
  color: white;
  background-color: rgb(255, 0, 68);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #6d1010;
  transition: ease-out 0.7s;
  font-size: 16px;
  text-transform: uppercase;
  outline: none;
}

.btn-1:hover {
  box-shadow: inset 300px 0 0 0 #5c0202;
}

.btn-2 {
  width: 200px;
  height: 50px;
  border: none;
  color: white;
  background-color: rgb(26, 45, 192);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #b3e0ff;
  transition: ease-out 0.7s;
  font-size: 16px;
  text-transform: uppercase;
  outline: none;
}

.btn-2:hover {
  box-shadow: inset 300px 0 0 0 #b3e0ff;
}

@media screen and (max-width: 768px) {
  .contactanos {
    width: 90%;
  }
}

.advertencia {
  padding: 5px 10px;
  color: red;
  font-weight: 700;
}

.acierto {
  padding: 3px 10px;
  border-radius: 4px;
  margin: 0px 10px 10px;
  color: white;
  background-color: green;
  text-align: center;
  align-items: center;
}

.footer {
  background-color: #0a436a;
  color: white;
  padding: 20px 110px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footer a {
  display: block;
}

.footer h4 {
  font-weight: bold;
}

.footer p,
.footer a {
  font-size: 13px;
  color: lightgray;
}

@media screen and (max-width: 768px) {
  main h3 {
    font-size: 50px !important;
    text-align: center;
    color: gray;
    margin-top: 20px;
    /* text-align: center !important; */
  }

  main p {
    display: none;
  }

  main button {
    margin-top: 30px;
  }

  .fondo__nosotros p {
    font-size: 18px;
    margin-left: 3px;
    margin-bottom: -4px;
  }

  footer {
    text-align: center;
    padding-right: 100px;
  }
}

/* PRODUCTOS */

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.productos__producto {
  background-color: lightgray;
  /* border: 2px solid lightgray; */
  padding: 9px;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: white;
}

.productos h4 {
  margin-top: 10px;
  font-weight: 700;
}

.imagen__producto img {
  padding: 6px;
  border-radius: 3px;
  height: 250px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  /* overflow: hidden; */
}

/* .imagen__producto img:hover {
  height: 255px;
  width: 100%;
} */

.precio {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.precio button {
  padding: 6px 18px;
  border: none;
  background-color: lightblue;
  color: white;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.precio button:hover {
  background-color: rgb(118, 217, 250);
}

.precio p {
  margin: 0;
  font-size: 20px;
}

.precio {
  margin-bottom: 10px;
}

.tamano__imagen {
  margin-bottom: 10px;
}

.tamano__imagen img {
  height: 20px;
  width: auto;
}
